<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Error"></title>
</head>
<body>
<h1 th:text="${errorMsg}"></h1>
<div th:text="${errorModel}"></div>
</body>
</html>